
#section{
  margin-left: 20%;
  margin-right: 20%;
  font-family:sans-serif;
  padding: 10%;

}
p{
  margin-left: 20%;
  margin-right: 20%;
  font-family:sans-serif;
  padding: 5%;
  font-family: 'Be Vietnam', sans-serif;
  
}
#About{
  background-color: #EE6C4D;
  
}
#poems{
  background-color: #F98948;
  padding-left: 20%;

}
#purchase{
  background-color:  #F38D68;
}


h1{
  padding-top: 5%;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
}
#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

  border-radius: 50%;
  border-color: rgb(0,0,0,0.5);
  border-style: solid;
}